@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: hsl(248, 47%, 98%);
  --foreground: hsl(210, 25%, 7.8431%);
  --card: hsl(0, 0%, 100%);
  --card-foreground: hsl(210, 25%, 7.8431%);
  --popover: hsl(0, 0%, 100%);
  --popover-foreground: hsl(210, 25%, 7.8431%);
  --primary: hsl(214, 84%, 56%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(215, 16%, 47%);
  --secondary-foreground: hsl(0, 0%, 100%);
  --muted: hsl(220, 14%, 96%);
  --muted-foreground: hsl(215, 16%, 47%);
  --accent: hsl(159, 68%, 44%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(220, 13%, 91%);
  --input: hsl(0, 0%, 100%);
  --ring: hsl(214, 84%, 56%);
  --chart-1: hsl(214, 84%, 56%);
  --chart-2: hsl(159, 68%, 44%);
  --chart-3: hsl(45, 93%, 47%);
  --chart-4: hsl(147, 78%, 42%);
  --chart-5: hsl(341, 75%, 51%);
  --sidebar: hsl(0, 0%, 100%);
  --sidebar-foreground: hsl(210, 25%, 7.8431%);
  --sidebar-primary: hsl(214, 84%, 56%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(220, 14%, 96%);
  --sidebar-accent-foreground: hsl(214, 84%, 56%);
  --sidebar-border: hsl(220, 13%, 91%);
  --sidebar-ring: hsl(214, 84%, 56%);
  --font-sans: 'Inter', sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.75rem;
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(200, 6.6667%, 91.1765%);
  --card: hsl(228, 9.8039%, 10%);
  --card-foreground: hsl(0, 0%, 85.0980%);
  --popover: hsl(0, 0%, 0%);
  --popover-foreground: hsl(200, 6.6667%, 91.1765%);
  --primary: hsl(214, 84%, 56%);
  --primary-foreground: hsl(0, 0%, 100%);
  --secondary: hsl(195, 15%, 95%);
  --secondary-foreground: hsl(210, 25%, 7.8431%);
  --muted: hsl(0, 0%, 9.4118%);
  --muted-foreground: hsl(210, 3.3898%, 46.2745%);
  --accent: hsl(159, 68%, 44%);
  --accent-foreground: hsl(0, 0%, 100%);
  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 100%);
  --border: hsl(210, 5.2632%, 14.9020%);
  --input: hsl(207, 28%, 18%);
  --ring: hsl(214, 84%, 56%);
  --chart-1: hsl(214, 84%, 56%);
  --chart-2: hsl(159, 68%, 44%);
  --chart-3: hsl(45, 93%, 47%);
  --chart-4: hsl(147, 78%, 42%);
  --chart-5: hsl(341, 75%, 51%);
  --sidebar: hsl(228, 9.8039%, 10%);
  --sidebar-foreground: hsl(0, 0%, 85.0980%);
  --sidebar-primary: hsl(214, 84%, 56%);
  --sidebar-primary-foreground: hsl(0, 0%, 100%);
  --sidebar-accent: hsl(228, 9.8039%, 10%);
  --sidebar-accent-foreground: hsl(214, 84%, 56%);
  --sidebar-border: hsl(210, 5.2632%, 26%);
  --sidebar-ring: hsl(214, 84%, 56%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
